SNOWGLOBE_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhcGlLZXlJZCI6IjZjYjNmNjYxLTc5MjUtNGExMC04NDQzLWE2MDljNzJiN2UxYSIsInNjb3BlIjoicmVhZDpwYWNrYWdlcyIsInBlcm1pc3Npb25zIjpbInRocmVhdF90ZXN0ZXJfaW52aXRlOnRydWUiXSwiaWF0IjoxNzc3NjE5MDgxLCJpc3MiOiJodHRwczovL2F1dGhuLmd1YXJkcmFpbHNhaS5jb20iLCJzdWIiOiJnb29nbGUtb2F1dGgyfDEwNjg2MzY2NjYwOTQ1MjY0ODE2MyIsImF1ZCI6Imh0dHBzOi8vYXV0aG4uZ3VhcmRyYWlsc2FpLmNvbSIsImV4cCI6NDkzMTIxOTA4MX0.OO5alGLsmpOH-LapRPGbLdZjM3_4dE7s5pRyxy8DN6E
